<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script crossorigin src="libs/react.development.js"></script>
    <script crossorigin src="libs/react-dom.development.js"></script>
    <script crossorigin src="libs/browser.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="root"></div>
    <script src="todos.js" type="text/babel">
    
    </script>
  </body>
</html>
